:root {
	--bunny-layer: rgba(0, 0, 0, 0);
	--cloud-layer: rgba(0, 0, 0, 0);
	--green-grass: #268e00;
	--dirt-color: #8f6749;
}

body {
	counter-reset: game;
	margin: 0;
	width: 100%;
	height: 100vh;
	background-color: ghostwhite;
	display: grid;
	place-items: center;
}

input:checked {
	counter-increment: game;
}

.total::after {
	content: counter(game);
}

.phone {
	position: relative;
	border: 3px solid #222;
	border-radius: 40px;
	height: 600px;
	width: 300px;
	background-color: #ccfeff;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.shadow {
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.capa {
	position: absolute;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.capa-1 {
	z-index: 1;
	height: 450px;
	width: 80px;
	background-color: var(--bunny-layer);
	bottom: 0;
	left: 50px;
}
.capa-2 {
	z-index: 1;
	height: 450px;
	width: 80px;
	background-color: var(--bunny-layer);
	bottom: 0;
	right: 50px;
}

.capa-3 {
	z-index: 2;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 80%;
	height: 400px;
	background-color: var(--dirt-color);
}
.capa-4 {
	z-index: 3;
	height: 320px;
	width: 80px;
	background-color: var(--bunny-layer);
	bottom: 0;
	left: 30px;
}
.capa-5 {
	z-index: 4;
	bottom: 0;
	width: 150px;
	height: 270px;
	background-color: var(--dirt-color);
}
.capa-6 {
	z-index: 5;
	height: 250px;
	width: 80px;
	background-color: var(--bunny-layer);
	bottom: 0;
	right: 30px;
}
.capa-7 {
	z-index: 6;
	bottom: 0;
	right: 0;
	width: 150px;
	height: 200px;
	background-color: var(--dirt-color);
}
.capa-8 {
	z-index: 7;
	height: 120px;
	width: 160px;
	background-color: var(--cloud-layer);
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.capa-9 {
	z-index: 8;
	height: 90px;
	width: 120px;
	background-color: var(--cloud-layer);
	bottom: 0;
}
.capa-10 {
	z-index: 8;
	height: 90px;
	width: 120px;
	background-color: var(--cloud-layer);
	bottom: 0;
	right: 0;
}

.capa-3::after,
.capa-5::after,
.capa-7::after {
	content: "";
	position: absolute;
	left: -0px;
	top: 0px;
	width: 100%;
	height: 40px;
	background: linear-gradient(135deg, var(--green-grass) 25%, transparent 25%) -50px
			0,
		linear-gradient(-135deg, var(--green-grass) 25%, transparent 25%) -50px 0;
	background-size: 40px 100px;
}

.capa-3::before,
.capa-5::before,
.capa-7::before {
	content: "";
	position: absolute;
	left: -0px;
	top: 15px;
	width: 100%;
	height: 40px;
	background: linear-gradient(135deg, rgba(0, 0, 0, 0.08) 25%, transparent 25%) -50px
			0,
		linear-gradient(-135deg, rgba(0, 0, 0, 0.08) 25%, transparent 25%) -50px 0;
	background-size: 40px 100px;
}

/* bunny */
.ear {
	height: 30%;
	border-radius: 50%;
	width: 10px;
	border: 8px solid white;
	background-color: pink;
	position: absolute;
	top: 1px;
}

.left-ear {
	left: 10px;
}

.right-ear {
	right: 10px;
}

.head {
	position: absolute;
	top: 31px;
	border-radius: 50%;
	height: 60px;
	width: 100%;
	background-color: white;
}

.eye {
	position: absolute;
	width: 4px;
	height: 4px;
	background-color: saddlebrown;
	border-radius: 50%;
	bottom: 44px;
	animation-name: blink;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes blink {
	0% {
		height: 4px;
	}
	5% {
		transform: translate(0, 1px);
		height: 1px;
	}
	10% {
		transform: translate(0);
		height: 4px;
	}
}

.left-eye {
	left: 30px;
}

.right-eye {
	right: 30px;
}

/* cloud */
.cloud {
	position: absolute;
	background-color: white;
	border-radius: 50px 50px 0 0;
	width: 60px;
	height: 45px;
}

.left-cloud {
	left: -20px;
	top: 50px;
	transform: rotate(-20deg);
}

.top-cloud {
	right: 0;
	left: 0;
	margin: 0 auto;
	height: 100%;
	top: 15px;
}

.right-cloud {
	right: -15px;
	top: 50px;
	transform: rotate(-70deg);
	border-bottom-right-radius: 50px;
}

.cloud.green {
	background-color: var(--green-grass);
}

.green.left-cloud {
	left: -5px;
	top: 60px;
}

.green.top-cloud {
	top: 30px;
}

.green.right-cloud {
	top: 60px;
	right: -1px;
}
